* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.imagen img {
  border-radius: 15px;
}

.main-content {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.informacion {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pay {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__plan {
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #cdcdcd;
    border-radius: 15px;
  }
  &__buttons {
    margin-top: 20px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  button {
    width: 400px;
    height: 40px;
    background-color: blue;
    color: white;
    border-radius: 15px;
    border: none;
  }
}
